<!--<h2>Books</h2>-->
<!--<ul>-->
  <!--<li *ngFor="let book of books">{{book.title}}</li>-->
<!--</ul>-->
<div class="container-fluid">
  <div class="row">
    <nav class="navbar bg-dark col-12">
      <form class="form-inline mx-auto col-6">
        <input class="form-control mx-2 col-8" type="search" placeholder="Tytuł..." aria-label="Wyszukaj">
        <button class="btn btn-outline-info mx-2 col-auto" type="submit">Wyszukaj</button>
      </form>
    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card col-8 p-4 my-5 mx-auto ">
      <div class="card-columns">
        <div class="card   p-0" *ngFor="let book of books; let i=index">
          <img class="card-img-top bg-dark" src="../assets/bookn.png" alt="default book image">
          <h6 class="card-header bg-card text-center">{{book.title}}</h6>
          <div class="card-body bg-light  ">
            <div class="row d-flex justify-content-around">
              <button class="alert alert-warning p-2 ">Autor: {{book.author}}</button>
              <button class="alert alert-primary p-2 ">Gatunek: {{book.genre}}</button>
              <button class="alert alert-success p-2 ">{{book.pages}}s.</button>
            </div>
            <div class="row">
              <button class="btn btn-outline-info col-12" type="button" data-toggle="collapse"  [attr.data-target]="'#'+i" aria-expanded="false" aria-controls="collapseExample">
                Opis książki
              </button>
              <div class="collapse col-12" [attr.id]="i">
                <div class="card mt-3">
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p class="font-italic">{{book.description}}</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
